<!-- Wrap all page content here -->
<div class="wrap">
    <%= render partial: 'shared/header' %>
    <!--%= render partial: 'shared/navbar' %-->

    <div class="col-xs-12 col-sm-8 col-sm-push-2">
        <div class="row text-center margin-bottom-20">
          <h3 class="login-title">DOAM App Login</h3>
        </div>

        <div class="col-xs-8 col-xs-push-2 apiKeyForm">
          <%= form_for :apiKey, :html => {:class => "form-horizontal"}, :url => 'apiKeyCheck' do |f| %>
          <div class="form-group">
            <label class="col-sm-3 control-label">
            </label>
            <div class="col-sm-8">
              <%= f.text_field :api_key, placeholder: "Api Key", :class=>"form-control apiKeyField" %>
              <!--%= f.text_field :api_key, placeholder: "Api Key", :class=>"form-control apiKeyField", :value => 'hNHtzzXAdAhvRDnB773r'  %-->
            </div>
          </div>
          <div class="error-login" errormsg="j_username" style="display:none"></div>
          <div class="form-group">
            <div class="col-md-offset-4 col-md-6 col-sm-offset-4 col-sm-8 col-xs-12">
              <!-- <img class="hoverInfo" data-original-title="POST /user/authenticate" src="/assets/info_icon.png"
              style="padding: 0px 5px 0 0; height: 30px;"/> -->
              <!-- <div class="btn btn-default" id="api-key-submit" tabindex="3">Submit</div> -->
              <%= f.submit 'Submit', :class => "btn btn-default" %>
              <div class="btn btn-default" onclick="clearLoginFields();" tabindex="4">Clear</div>
            </div>
          </div>

      <% end %>
        </div>

        <div class="col-xs-8 col-xs-push-5 apiKeyForm">
            <h4 class="login-title">OR</h4>
        </div>

        <div class="col-xs-8 col-xs-push-2 user-login-form">
          <%= form_for :userlogin, :html => {:class => "form-horizontal"} do |f| %>

              <div class="form-group">
                <label class="col-sm-3 control-label">
                  User Name :
                </label>
                <div class="col-sm-8">
                  <%= f.text_field :email, placeholder: "Email Address", :class=>"form-control"  %>
                </div>
              </div>
              <div class="error-login" errormsg="j_username" style="display:none"></div>
              <div class="form-group">
                <label class="col-sm-3 control-label">
                  Password :
                </label>
                <div class="col-sm-8">
                    <%= f.password_field :password, placeholder: "Password", :class=>"form-control"  %>
                </div>
                <div class="cb"></div>
              </div>
              <div class="error-login" errormsg="j_password" style="display:none"></div>
              <div class="form-group">
                <div class="col-md-offset-4 col-md-6 col-sm-offset-4 col-sm-8 col-xs-12">
                  <img class="hoverInfo" data-original-title="POST /user/authenticate" src="/assets/info_icon.png"
                   style="padding: 0px 5px 0 0; height: 20px;"/>
                  <%= f.submit 'Submit', :class => "btn btn-default" %>
                  <%= button_tag "Clear", type: :reset, :class => "btn btn-default", :tabindex => "4" %>
                </div>
              </div>
          <% end %>
        </div>


    </div>
</div>

<!--%= render partial: 'shared/footer' %-->

<div class="api_info" style="display:none;width:45%;">
    <div class="api_content">
        <p>
          <label class="title">Authentication</label>
          <label class="sub_title">Allow a user to authenticate</label>
          <pre>
    auth_token, user = MachineShop::User.authenticate(
        :email => "username",
        :password => "password"
    )
          </pre>
        </p>
    </div>

    <div class="api_content">
        <p>
          <label class="sub_title">Http_method : Post</label>
        </p>
    </div>

    <div class="api_content">
        <p>
          <label class="sub_title">Parameters</label>
          <label class="content">email string</label>
          <label class="content">password string</label>
        </p>
    </div>

    <div class="api_content">
        <p>
          <label class="sub_title">Response Example</label>
          <pre>
    {
    "id" => "8e98188e981800aaef000001",
        "_id" => "8e98188e981800aaef000001",
        "authentication_token" => "2jzZhuHWLZy9fsxcd36E",
        "company_name" => "company_name",
        "current_sign_in_at" => "2014-06-09T08:26:06Z",
        "current_sign_in_ip" => "202.51.76.235",
        "domain" => "john@domain.com",
        "email" => "admin@domain.com",
        "first_name" => "First_name",
        "keychain" => {},
        "last_name" => "Last_name",
        "last_sign_in_at" => "2014-06-09T08:26:06Z",
        "last_sign_in_ip" => "202.51.76.235",
        "logo_url" => nil,
        "name_space" => [
            [0]
            "test"
    ],
        "notification_method" => "sms",
        "phone_number" => "+1 (123) 456-7890",
        "role" => "admin",
        "sign_in_count" => 234,
        "tag_ids" => [],
        "http_code" => 200
    }
          </pre>
        </p>
    </div>

</div>
